@use './partials/variables' as * ;
@use './partials/colors' as * ;

@use './partials/typography' as * ;
@use './partials/mixins' as * ;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
  @include standard-padding-horizontal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #FBFBFB;
}
**{
  width: auto;
  border: red dashed 3px;
}