@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;


.gallery { 
  display: flex;
	width: 100%;
	height: 90vh;
	background-color: #FFFFFF;
	@include h1-page-header;
	color: $slate;

	&__inside {
		position: absolute;
		top: 50px;
		margin-left: 100px;
		color: $text-grey;
		@include tablet{
			top: 130px;
		}
		@include desktop{
		top: 150px;
		}
	}
	&__title{
		@include h1-page-header;
		color: $raspberrypi;
		font-weight: 700px;
		@include increment-2-bottom;
		font-size: 30px;

		@include tablet{
			font-size: 45px;
		}
	}
	&__subtitle {
		@include h1-page-header;
		color: $raspberrypi;
		@include increment-2-bottom;
		font-size: 16px;
		@include tablet{
			padding-top: 24px;
		}
		@include desktop{
			padding-top: 24px;
		}
	}
	&__arrow {
		width: 1vw;
		padding-top: 2vw;
	}
	&__inside {
		padding-top: 130px;
		position: absolute;
		color: $text-grey;
		left: 70px;
		@include tablet{
			padding-top: 130px;
		}
		@include desktop{
			padding-top: 150px;
		}
	}

	&__arrow {
		width: 1vw;
		padding-top: 2vw;
	}
	&__subtitle{
		margin-bottom: 1rem;
		color: $raspberrypi;
		padding-right: 1rem;
		@include increment-2-bottom;
	    font-size: 24px;
		@include tablet{
			font-size: 45px;
		}
	}

&__content-background {
  position: relative;
  background-size: 21%;
 // height: 2000px;

}
}

.content {
	height: 1120px;
	font-size: 50px;
    margin-top: 20px;
	position: relative;
	z-index: -3;
	background-image: url('../../assets/Icons/fancydna.svg');
	background-size: 150%;
}

.my-canvas {
	position: absolute;
	width: 40vw;
	height: 40vw;
	border: 40px solid lavender;
//	margin-top: 300px;
   left: 200px;
	margin-right: 300px;
	margin-bottom: 300px;
	top: 400px;
	@include tablet{
		
	margin-left: 24px;
	width: 40vw;
	height: 40vw;
	border: 40px solid lavender;
	margin-right: 0px;
	left: 100px;
	margin-bottom: 500px;
	top: 600px;
	}
		@include desktop{
		margin-left: 80px;
	}
  }
.removeAddtionalFrame{
display:none;
}