@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;


.gallery {





&__content-background {
  
  position: relative;
  background-image: url('../Home/crrrr.jpeg');
  background-size: 21%;
  height: 2000px;

 


}
}