/**********************MOCKUP COLUMN VARIABLES*******************************/
/*****************INCREMENT VARIABLES IN PX************/
/*****************INCREMENT VARIABLES IN REM************/
/*****************MOBILE INCREMENT VARIABLES IN VW************/
/*****************TABLET INCREMENT VARIABLES************/
/*****************DESKTOP INCREMENT VARIABLES************/
/**********************MOCKUP COLUMN PERCENT VARIABLES*******************************/
/*******************************INCREMENT PERCENTAGE*******************************/
/*****************MOBILE INCREMENT PERCENT VARIABLES************/
/*****************TABLET INCREMENT PERCENT VARIABLES************/
/*****************DESKTOP INCREMENT PERCENT VARIABLES************/
/************OTHER COMMON INCREMENT VARIABLES *********/
/**********************************CALCULATION**DATA***********************/
/************************************FONTS******************************************/
@font-face {
  font-family: "TitilliumWebSemiBold600";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "TitilliumWebRegular400";
  src: url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff"), url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
}
/************************************FONTS**************************************

@font-face {
    font-family: "AvenirNextLTProRegular";
    src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "AvenirNextLTProDemi";
    src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNextLTProBold";
    src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
    font-weight: 700;
}


/*************************************H1 HERO HEADING************************************

@mixin h1-hero-heading {
    font-family: AvenirNextLTProBold;
    color: $white;
    font-size: 3.8rem; //60px 
    line-height: 4.3rem; //68px
    @include tablet {
        font-size: 3.8rem; //60px
        line-height: 4.3rem; //68px
    }
    @include desktop {
        font-size: 3.8rem; //60px 
        line-height: 4.3rem; //68px
    }
}





*/
/********************************* FOR TABLETS**********************************************************/
/********************************* FOR DESKTOP*************************************/
/*************************************TEXT STYLES************************************/
/*****************************************H1-Main-heading***************************/
/*********************H2 - Header subheader for mobile*********************/
/*******************************H3 - Subheader for Tablet and Desktop************/
/********************H4 Paragraph & Comments******************************/
.btn {
  outline: none;
  margin-right: 30px;
  margin-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem/100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
  outline: none;
}
.btn + .btn {
  outline: none;
  margin-top: 1rem;
}
.btn span {
  outline: none;
  position: relative;
  z-index: 1;
}
.btn:before {
  outline: none;
  content: "";
  background-color: #21D4FD;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
  outline: none;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  outline: none;
  transform: scale(4) translate(37%);
}

.btn--alpha {
  outline: none;
  background-color: #21D4FD;
  color: #B721FF;
}
.btn--alpha:before {
  background-color: #B721FF;
  background-image: linear-gradient(to right, #B721FF 30%, #21D4FD 100%);
  position: absolute;
}
.btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
  outline: none;
  color: #21D4FD;
}

.btn--beta {
  outline: none;
  background-color: #08AEEA;
  color: #2AF598;
}
.btn--beta:before {
  background-color: #2AF598;
  background-image: linear-gradient(to right, #2AF598 30%, #08AEEA 100%);
  position: absolute;
}
.btn--beta:hover, .btn--beta:focus, .btn--beta:active {
  outline: none;
  color: #08AEEA;
}

.btn--gamma {
  outline: none;
  background-color: #FEE140;
  color: #FA709A;
}
.btn--gamma:before {
  background-color: #FA709A;
  background-image: linear-gradient(to right, #FA709A 30%, #FEE140 100%);
  position: absolute;
}
.btn--gamma:hover, .btn--gamma:focus, .btn--gamma:active {
  outline: none;
  color: #FEE140;
}

.btn--delta {
  outline: none;
  background-color: #3EECAC;
  color: #EE74E1;
}
.btn--delta:before {
  background-color: #EE74E1;
  background-image: linear-gradient(to right, #EE74E1 30%, #3EECAC 100%);
  position: absolute;
}
.btn--delta:hover, .btn--delta:focus, .btn--delta:active {
  outline: none;
  color: #3EECAC;
}

.btn-form {
  outline: none;
  outline: none;
  margin-right: 30px;
  margin-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem/100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
.btn-form + .btn-form {
  margin-top: 1rem;
}
.btn-form span {
  position: relative;
  z-index: 1;
}
.btn-form:before {
  content: "";
  background-color: #21D4FD;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
}
.btn-form:hover:before, .btn-form:focus:before, .btn-form:active:before {
  background-color: #B721FF;
}

.btn-form--alpha {
  background-color: #21D4FD;
  color: #B721FF;
}
.btn-form--alpha:before {
  background-color: #B721FF;
  background-image: linear-gradient(to right, #B721FF 30%, #21D4FD 100%);
  position: absolute;
}
.btn-form--alpha:hover, .btn-form--alpha:focus, .btn-form--alpha:active {
  color: #B721FF;
}

.btn-form--beta {
  background-color: #08AEEA;
  color: #2AF598;
}
.btn-form--beta:before {
  background-color: #2AF598;
  background-image: linear-gradient(to right, #2AF598 30%, #08AEEA 100%);
  position: absolute;
}
.btn-form--beta:hover, .btn-form--beta:focus, .btn-form--beta:active {
  color: #B721FF;
}

.btn-form--gamma {
  background-color: #FEE140;
  color: #FA709A;
}
.btn-form--gamma:before {
  background-color: #FA709A;
  background-image: linear-gradient(to right, #FA709A 30%, #FEE140 100%);
  position: absolute;
}
.btn-form--gamma:hover, .btn-form--gamma:focus, .btn-form--gamma:active {
  color: #B721FF;
}

.btn-form--delta {
  background-color: #3EECAC;
  color: #EE74E1;
}
.btn-form--delta:before {
  background-color: #EE74E1;
  background-image: linear-gradient(to right, #EE74E1 30%, #3EECAC 100%);
  position: absolute;
}
.btn-form--delta:hover, .btn-form--delta:focus, .btn-form--delta:active {
  color: #B721FF;
}

/********************************h4-lists-and-contacts-information*************/
/*******************************************H5-Labels***********************/
/***************************************STANDARD PADDING**************************************************/
/**********************************WIDTH*100%*PADDING**********************************************/
/*******************WIDTH MINUS MOCKUP COLUMN************/
/**********************************************DIVIDERS******************************************************/
/**********************************************LOGOS******************************************************/
/**********************************************BUTTONS******************************************************/
/**********************************************MOCKUP COLUMNS****************************************************************/
/*******************RIGHT*****************/
/*******************LEFT***************/
/*********************HORIZONTAL**************/
/*********************************************WIDTH 100% MINUS INCREMENTS*********************************/
/************************************%%%%%%%%%%%%%%%%%%%%%******************************************************
/******%%%%%%%%%%%%%%%%%%%%%%%****CONTENTS LIST:*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
*******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*****TOP MARGIN**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
*****%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%******RIGHT MARGIN**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%***BOTTOM MARGIN**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%***LEFT MARGIN**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
***********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*VERTICAL MARGIN**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
***********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*HORIZTONAL**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%***WIDTH **********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
*******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%****HEIGHT**********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*****OTHER COMMON INCREMENTS*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
 ******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*****MOCKUP COLUMN PADDING*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********
******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*****%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*********/
/*******************************************************INCREMENT MARGIN TOP******************************************/
/***********************************INCREMENT RIGHT*************************************************/
/*******************************************************INCREMENT MARGIN BOTTOM******************************************/
/*******************************************************INCREMENT LEFT******************************************/
/************************************VERTICAL MARGIN INCREMENTS******************************************************/
/************************************HORIZONTAL MARGIN INCREMENTS******************************************************/
/***************************************************INCREMENT WIDTH******************************************/
/***************************************************INCREMENT HEIGHT******************************************/
/***************************************************OTHER COMMON INCREMENTS********************************/
/*******TOP****/
/***************RIGHT********************/
/****************BOTTOM***************/
/*****************LEFT****************/
/************VERTICAL***********/
/**********HORIZONTAL*********/
/***********WIDTH*********/
/***********HEIGHT*********/
/**********************************************MOCKUP COLUMNS PADDING****************************************************************/
/***LEFT*******/
/***HORIZONTAL*******/
.home {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #FFFFFF;
  font-family: TitilliumWebSemiBold600;
  color: #13182C;
  font-size: 28px;
  line-height: 36px;
  color: #5C667E;
  margin-left: 9rem;
}
@media (min-width: 768px) {
  .home {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1280px) {
  .home {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .home {
    margin-left: 5%;
  }
}
.home__inside {
  padding-top: 150px;
  position: absolute;
  color: #525252;
}
@media (min-width: 768px) {
  .home__inside {
    padding-top: 230px;
  }
}
@media (min-width: 1280px) {
  .home__inside {
    padding-top: 150px;
  }
}
.home__title {
  font-family: TitilliumWebSemiBold600;
  color: #13182C;
  font-size: 28px;
  line-height: 36px;
  color: #e30b5d;
  margin-bottom: 5vw;
  font-size: 40px;
}
@media (min-width: 768px) {
  .home__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1280px) {
  .home__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .home__title {
    margin-bottom: 2.1vw;
  }
}
@media (min-width: 1280px) {
  .home__title {
    margin-bottom: 1.3vw;
  }
}
@media (min-width: 768px) {
  .home__title {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .home__title {
    font-size: 30px;
  }
}
.home__arrow {
  width: 1vw;
  padding-top: 2vw;
}
.home__subtitle {
  margin-bottom: 1rem;
  color: #e30b5d;
  margin-bottom: 5vw;
  font-size: 24px;
}
@media (min-width: 768px) {
  .home__subtitle {
    margin-bottom: 2.1vw;
  }
}
@media (min-width: 1280px) {
  .home__subtitle {
    margin-bottom: 1.3vw;
  }
}
@media (min-width: 768px) {
  .home__subtitle {
    font-size: 45px;
  }
}
.home__about {
  padding-top: 1%;
  padding-left: 0.1rem;
  width: 95%;
  font-size: 18px;
  color: #525252;
}
@media (min-width: 768px) {
  .home__about {
    font-family: AvenirNextLTProBold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    color: #525252;
    width: 50%;
    font-size: 36px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .home__about {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .home__about {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .home__about {
    font-family: AvenirNextLTProBold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    font-size: 45px;
    color: #525252;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .home__about {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .home__about {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}

/************************************HERO CONTAINER****************************/
.hero-container {
  display: flex;
  position: relative;
  background-image: url("../../assets/Icons/fancydna.svg");
  background-size: 150%;
  margin-top: 200px;
}
.hero-container ::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-container {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    margin: 10rem 0;
  }
}/*# sourceMappingURL=Home.css.map */