@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
.home {
	display: flex;
	width: 100%;
	height: 90vh;
	background-color: #FFFFFF;
	@include h1-page-header;
	color: $slate;
	&__basicDna {
		margin-left: 300px;
	}
	&__inside {
		padding-top: 150px;
		position: absolute;
		color: $text-grey;
	}
	&__subtitle {
		@include standard-padding-horizontal;
		@include h1-page-header;
		color: $raspberrypi;
		@include increment-2-bottom;
		font-size: 45px;
	}
	&__arrow {
		width: 1vw;
		padding-top: 2vw;
	}
	&__dna {
		padding-left: 25%;
	}
	&__title {
		@include standard-padding-horizontal;
		@include h1-page-header;
		color: $raspberrypi;
		@include increment-2-bottom;
		font-size: 45px;
	}
  &__title {
		font-size: 45px;
		@include tablet {
			color: $raspberrypi;
			font-size: 45px;
		}
	}
	&__titleb {
		@include standard-padding-horizontal;
		color: $raspberrypi;
		padding-left: 5%;
		@include increment-2-bottom;
		font-size: 45px;
	}
	&__about {
		@include standard-padding-horizontal;
		padding-top: 1%;
		padding-left: 5%;
		width: 100%;
		@include h1-desktop-size-that-should-be-available-on-mobile;
		color: $text-grey;
		@include tablet {
			@include h1-main-header;
			color: $text-grey;
			width: 50%;
			font-size: 45px;
		}
		@include desktop {
			@include h1-main-header;
			font-size: 45px;
			color: $text-grey;
		}
	}
}


/************************************HERO CONTAINER****************************/

.hero-container {
//	margin-top: 20%;
	display: flex;
	position: relative;
	background-image: url('../../assets/Icons/fancydna.svg');
	background-size: 150%;
	 ::before {
		content: "";
		position: absolute;
		top: 0rem;
		right: 0rem;
		bottom: 0rem;
		left: 0rem;
		z-index: -1;
	}
	@include tablet {
		height: 100%;
		width: 100%;
	}
	@include desktop {
		margin: 10.0rem 0; //160px
  
  }

}

.content {
	height: 1120px;
	font-size: 50px;
  margin-top: 20px;
	position: relative;
	z-index: -1;
	background-image: url('../../assets/Icons/fancydna.svg');
	background-size: 150%;
}
