@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.upload-file{
  position:absolute;
  margin-top: 10%;
    margin-left: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    &__subtitle {
      @include h1-page-header;
      color: $raspberrypi;
      @include increment-2-bottom;
    }
    &__arrow {
      width: 1vw;
      padding-top: 2vw;
    }
    &__dna {
      padding-left: 25%;
    }
    &__title {
      @include h1-page-header;
      color: $raspberrypi;
      padding-left: 5%;
      @include increment-2-bottom;
    }
    &__titleb {
      @include h1-page-header;
      color: $raspberrypi;
      padding-left: 5%;
      @include increment-2-bottom;
    }
    &__about {
      padding-top: 1%;
      padding-left: 5%;
      width: 70%;
      background-image: src('../../assets/Icons/chevron_right-24px.svg');
    }

    &__ico {
      width: 30px;
    }
    &__box{
      margin-top:10%;
      margin-left:70%;
    }
    &__upload-button{

     background-color: $secondary-color-grey;
    justify-content: center;
    margin-right: 50%;
    width: 100%;
    height: $increment6-px;
    border-radius: $increment0-px;
    color: $slate;
    &:hover {
      color: $secondary-color-indigo;
    }
    @include tablet {
      margin-top: $increment5-px;
      width: 160px;
     }
    }
     &__progessBar{
        height: 1rem;
        width: 0%;
        background-color: rgb(68, 212, 231);
        color: white;
        padding:2px
      }
  }
  
  $time: 330ms;

$btns: (
  alpha: (
    gstart: #21D4FD,
    gend: #B721FF,
    tstart: #B721FF,
    tend: #21D4FD
  ),
  beta: (
    gstart: #08AEEA,
    gend: #2AF598,
    tstart: #2AF598,
    tend: #08AEEA
  ),
  gamma: (
    gstart: #FEE140,
    gend: #FA709A,
    tstart: #FA709A,
    tend: #FEE140
  ),
  delta: (
    gstart: #3EECAC,
    gend: #EE74E1,
    tstart: #EE74E1,
    tend: #3EECAC
  )
);


.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all $time;
  
  & + & {
    margin-top: 1rem;
  }
  
  span {
    position: relative;
    z-index: 1;
  }
  
  &:before {
    content: "";
    background-color: #21D4FD;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(4) translateX(-100%);
    transition: all $time * 1.5 ease-out;
  }
  
  &:hover,
  &:focus,
  &:active {    
    &:before {
      transform: scale(4) translate(37%);
    } 
  }
}


@each $bname, $bcolors in $btns {
  .btn--#{$bname} {
    background-color: map-get($bcolors, gstart);
    color: map-get($bcolors, tstart);
  
    &:before {
      background-color: map-get($bcolors, gend);
      background-image: linear-gradient(to right, map-get($bcolors, gend) 30%, map-get($bcolors, gstart) 100%);
      position: absolute;
    }
    
    &:hover,
    &:focus,
    &:active {    
      color: map-get($bcolors, tend);
    }
  }
}


  