@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;


.my23{
 


    &__title{
        @include h1-page-header;
        color: $raspberrypi;
        @include increment-2-bottom;
        margin-top: 50px;
        font-size: 40px;
        @include tablet{
            font-size: 45px;
        }
    }
    &__arrow {
        width: 1vw;
        padding-top: 2vw;
    }
    &__textbox {
        margin-left: 9rem;
		padding-top: 150px;
		position: absolute;
		color: $text-grey;
        @include tablet{
        margin-left: 1rem;
        }
	}
    &__subtitle{
        margin-bottom: 1rem;
        color: $raspberrypi;
        padding-right: 1rem;
        @include increment-2-bottom;
        font-size: 24px;
        @include tablet{
            font-size: 45px;
        }
    }
    &__header{
        margin-left: 9rem;
        position: absolute;
        top: 25%;
    	@include standard-padding-horizontal;
        font-family: Roboto;
        font-size: 30px;
        color: $apple;
        @include tablet{
            top: 350px;
            margin-left: 0.001rem;
        }
    }
    &__content{
        margin-left: 9rem;
        position: absolute;
        top: 350px;
        font-family: Roboto;
        text-align: center;
        border-collapse: collapse;
        border: 3px solid $text-grey;
        width: 100%;
        border: 1px solid $text-grey;
        padding: 0.5rem;
        @include tablet{
            margin-left: 0.001rem;
            top: 55%;
        }
    }
    &__img{
        display:absolute;
        //margin-right: 5rem;
        height: 80px;
        width:80px;
        &:hover{
        -webkit-transform: scale(1.01);
    }
}
}
#content th {
    border: $text-grey solid 1px ;
    padding: 0.5rem;
    &:hover{
        -webkit-transform: scale(1.1);
    } 
  }

  
  #content td{
    border: $text-grey  1px solid;
    padding: 0.5rem; 
      &:hover{
        -webkit-transform: scale(1.1);
    } 
  }


  
th {
    padding: 1rem 0 1rem 0; 
    text-align: center;
    padding: 0.5rem;
    color: white;
 
    
  }
