@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;


.my23{
    &__title{
		@include standard-padding-horizontal;
		color: $raspberrypi;
		@include increment-2-bottom;
		font-size: 45px;
	}
	&__arrow {
		width: 1vw;
		padding-top: 2vw;
	}
    &__textbox {
		padding-top: 150px;
		position: absolute;
		color: $text-grey;
	}
	&__subtitle{
		@include standard-padding-horizontal;
		color: $raspberrypi;
		padding-left: 5%;
		@include increment-2-bottom;
		font-size: 45px;
	}
    &__header{
        position: absolute;
        top: 40%;
    	@include standard-padding-horizontal;
        font-family: Roboto;
        font-size: 30px;
        color: $apple;
    }
    &__content{
        position: absolute;
        top: 50%;
        font-family: Roboto;
        text-align: center;
        border-collapse: collapse;
        border: 3px solid $text-grey;
        width: 100%;
        border: 1px solid $text-grey;
        padding: 0.5rem;
    }
    &__img{
        display:absolute;
        //margin-right: 5rem;
        height: 80px;
        width:80px;
        &:hover{
        -webkit-transform: scale(1.01);
    }
}
}
#content th {
    border: $text-grey solid 1px ;
    padding: 0.5rem;
    &:hover{
        -webkit-transform: scale(1.1);
    } 
  }

  
  #content td{
    border: $text-grey  1px solid;
    padding: 0.5rem; 
      &:hover{
        -webkit-transform: scale(1.1);
    } 
  }


  
th {
    padding: 1rem 0 1rem 0; 
    text-align: center;
    padding: 0.5rem;
    color: white;
 
    
  }
