@use '../../partials/variables' as *;
//@use '../../partials/breakpoints' as*;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.header {
  z-index: 10;
  position: absolute;
  display: flex;
  margin-bottom: 30px;
  &__nav {
    z-index: 10;
    position: fixed;
    background-color: $primary-background;
    max-height: 12.5rem;
    @include tablet {
      height: $increment10-px;
      flex-direction: row;
      padding: 0 0rem;
      border: 0.75px #d5d7db solid;
    }
    @include desktop {
      padding: 0 15rem;
    }
  }
  &__logo {
    display:contents;
   }

  &__rainbow {
    position:absolute;
    left:0px;
    margin-left:16px;
    padding-top: 8px;
    padding-bottom: 16px;
    @include tablet {
  margin-left: 3.125%;
   
  }
  @include desktop {
    margin-left: 80px;
  
  }
    
  }
  &__nav {
   padding-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      height: 120px;
    }
    @include desktop {
      height: 5.75rem;
    }
  }
  &__nav-list {
    width: 50%;
    justify-content: space-evenly;
    margin-left: 25%;
    padding-top:65px;
    list-style: none;
    @include tablet {
     margin-top: 0.01px;
    margin-left:250px;
      display: flex;
      justify-content: flex-end;
    }
    @include desktop {
    padding-top: 20px;
    margin-left:29vw;
  
   }
  }
  &__nav-item {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 8px;
    width: 71px;
    height: 23px;
    top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: $apple;
    &:hover {
      cursor: pointer;
      color: $apple;
      text-decoration: none;
      transform: scale(1.04);
    }
    &:active {
      color: $apple;
    }

    @include tablet {
      width: 150px;
    }

    &--active {
      color: $apple;
    }
  }
  &__partition-input {
    margin-top: 16px;
    background-color: $apple;
  }
  &__search-input {
    display: contents;
    width: 300px;
    background-image: url('../../assets/images/loupe.png');
    background-repeat: no-repeat;
    background-size: $increment20px-rem;
    background-position-y: center;
    background-position-x: $increment2-rem;
    padding-left: $increment5-rem;
    border-radius: $increment0-rem;
    border: solid 1px #c4c4c4;
    background-color: white;
    width: 391px; //252-40= 212/320=66.25vw
    height: 44px;

    justify-content: right;
    &:active {
      border-color: $apple;
    }
    &:hover {
      border-color: $apple;
    }
  }
  &__avi {
    width: 40px;
    height: 40px;
    border-radius: 33.3px; //circle
    margin-right: $increment2-px;
    position: relative;
    @include tablet {
      margin-top: $increment2-px 1.3vw 0 0;
    }
  }
  &__dna {
    padding-right: 10px;
    width: 2vw;
    height: 2vw;
  }
}
