
@use '../../partials/variables' as *;
@use '../../partials/breakpoints' as*;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.header{
    width: 100%;
}