@use '../../partials/variables' as *;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.contact {
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  padding: 0 1rem;
  background-color: $light-grey;
  @include tablet {
    padding: 0 2rem;
    flex-direction: row;
    justify-content: center;
  }
  &__full-container {
    margin-left: 50%;
    margin-top: -4rem;
    margin-bottom: 6rem;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    @include tablet {
      margin-left: 50%;
      margin-top: -5.75rem;
      max-width: 63.75rem;
      flex-grow: 1;
    }
  }
  &__header-container {
    margin-left: 50%;
    background-color: $white;
    height: 5.75rem;
    padding: 0 1.5rem;
    border-radius: 3px 3px 0 0;
  }

  &__arrow-title-container {
    margin-left: 50%;
    display: flex;
    //@at-root: center;
    height: 100%;
  }

  &__back-arrow {
    margin-left: 50%;
    // margin-right: .75rem;
    margin-left: 50%;

    @include tablet {
      margin-left: 50%;
      margin-right: 0.75rem;
    }
  }

  &__title {
    margin-left: 50%;
    color: $raspberrypi;
    font-family: TitilliumWebSemiBold600;
    font-size: 1.75rem;
    @include tablet {
      font-size: 2rem;
      margin-left: 50%;
      color: $raspberrypi;
    }
  }
  &__forms-container {
    @include tablet {
      margin-left: 50%;
      display: flex;
      position: relative;
    }
  }
  
}
.new-contact{
  &__ring{
    position:absolute;
    margin-top:5%;
    margin-left: 20%;
   
  }
}

.contact-form {
  //margin-top: 10%;
  margin-left: 30%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  //border: 1px solid $cloud;
  margin-top: 10%;
  margin-bottom: 25%;
  @include tablet {
    width: 40%;
  }
  &__title {
    color: $text-grey;
    font-size: 1.25rem;
    margin: 1rem 1.5rem 1.5rem;
    @include tablet {
      margin: 1.5rem 0 2rem 2rem;
    }
  }
  &__title-label-container {
    display: flex;
    flex-direction: column;
    color: $text-grey;
    margin: 0 1.5rem 1rem;
    @include tablet {
      margin: 0 2rem 1.5rem;
    }
  }
  &__label {
    font-size: 0.8125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    line-height: 1.25rem;
  }
  &__input {
    height: 2.25rem;
    border-radius: 20px;
    border: 1px solid $cloud;
    padding: 0 1rem;
    @include tablet {
      height: 2.375rem;
    }
    &::placeholder {
      font-family: TitilliumWebRegular400;
      font-size: 0.8125rem;
    }
    &:focus {
      border: 1px solid $indigo;
      outline: none;
    }
  }
}



.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
  &__btn-container {
    width: 300px;
    margin: 0 1rem;
    display: flex; 
    justify-content: space-around;
    @include tablet {
      justify-content: flex-end;
      justify-content: space-between;
      margin: 0 5rem;
    }
  }
}

