

/********************************* FOR TABLETS**********************************************************/

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}


/********************************* FOR DESKTOP*************************************/

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

