$black: #13182C; 
$indigo: #2E66E5; 
$white: #FFFFFF;
$slate: #5C667E; 
$cloud: #BDC5D5;
$graphite: #232940; 
$light-grey: #F7F8F9;
$green: #158463;
$red:#C94515; 
$blue: rgb(51, 51, 245);
$yellow: rgb(248, 248, 31);
$violet: rgb(129, 56, 129);
$primary-background: #FBFBFB;
$primary-div-background-ltblue: #F4F8FF;
$primary-div-background-white: #FFFFFF;

$secondary-color-indigo: #3375E0;
$secondary-color-grey: #E5E5E5;

$text-black: #121212;
$text-grey: #525252;
$text-ltblue: #3A88F0;
