/************************************FONTS******************************************/

@font-face {
	font-family: "TitilliumWebSemiBold600";
	src: url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
	font-weight: 600;
}

@font-face {
	font-family: "TitilliumWebRegular400";
	src: url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff"), url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
	font-weight: 400;
}