
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

/**********************MOCKUP COLUMN VARIABLES*******************************/

//mockup column outside
$mockup-column-outside-mobile: 5.0vw;  //16px 
$mockup-column-outside-tablet: 3.1vw; //24px
$mockup-column-outside-desktop: 6.3vw; //80px

//mockup column small
$mockup-column-small-mobile: 7.5vw; //24px
$mockup-column-small-tablet: 3.1vw; //24px
$mockup-column-small-desktop: 1.9vw; //24px


//mockup column large
$mockup-column-large-mobile: 16.9vw;  //54px 16.9vw
$mockup-column-large-tablet: 13.0vw; //100px 13.0vw 
$mockup-column-large-desktop: 5.3vw; //68px  5.3vw

